@inherits LayoutComponentBase

<SfSidebar @bind-IsOpen="_sidebarToggle"
           Type="SidebarType.Push"
           Position="SidebarPosition.Left"
           EnableGestures="false"
           Width="300px">
    <ChildContent>
        <div class="py-4">
            <div class="d-flex justify-content-center">
                <SfButton IconCss="fa-solid fa-plus"
                          IconPosition="IconPosition.Right"
                          OnClick="HandleNewContainerClick"
                          IsPrimary="true">
                    Create Container
                </SfButton>
            </div>

            <FmSpacer />

            <SfAccordion>
                <AccordionItems>
                    <AccordionItem Header="Dashboard"
                                   IconCss="fa-solid fa-home"
                                   Expanded="true">
                        <ContentTemplate>
                            <FmLink Route="/dashboard"
                                    Text="Home"
                                    Classes="fm-link d-flex justify-content-start"
                                    Icon="fa-solid fa-home" />

                            <FmSeperator />

                            <FmLink Route="/dashboard/containers"
                                    Text="Containers"
                                    Classes="fm-link d-flex justify-content-start mb-1"
                                    Icon="fa-solid fa-columns" />

                            <div class="ps-2">
                                <FmLoader FetchingState="_isFetching">
                                    <Content>
                                        @if (_containers is not null)
                                        {
                                            var lastContainer = _containers.Last();
                                            @foreach (var container in _containers)
                                            {
                                                <FmLink Route="/dashboard/containers"
                                                        Text="@container.Name"
                                                        Classes="fm-link d-flex justify-content-start mb-1"
                                                        Icon="fa-solid fa-columns" />

                                                <FmLink Route="@($"dashboard/containers/view?id={container.Id}")"
                                                        Text="View"
                                                        Classes="fm-link d-flex justify-content-start mb-1"
                                                        Icon="fa-solid fa-eye" />

                                                @if (_containers.Count != 1 && !container.Equals(lastContainer))
                                                {
                                                    <FmSeperator />
                                                }
                                            }
                                        }
                                    </Content>
                                </FmLoader>
                            </div>
                        </ContentTemplate>
                    </AccordionItem>

                    <AccordionItem Expanded="true">
                        <HeaderTemplate>
                            <FmTypography Text="Identity"
                                          Icon="fa-solid fa-user" />
                        </HeaderTemplate>

                        <ContentTemplate>
                            <NavLink href="/dashboard/containers">
                                Containers
                            </NavLink>
                        </ContentTemplate>
                    </AccordionItem>
                </AccordionItems>
            </SfAccordion>
        </div>
    </ChildContent>
</SfSidebar>

<div class="maincontent">
    <SfAppBar ColorMode="AppBarColor.Light">
        <div class="app-bar__wrapper">
            <div>
                <SfButton CssClass="e-inherit" IconCss="e-icons e-menu" OnClick="Toggle"></SfButton>
                <p>@_currentTime</p>
            </div>

            <AppBarSpacer></AppBarSpacer>

            <div class="app-bar-actions">
                <div class="d-flex justify-content-between align-items-center">
                    <div>
                        <SfButton IconCss="fa-solid fa-bell" />
                    </div>

                    <div>
                        <AppBarAccessControl />
                    </div>
                </div>
            </div>
        </div>
    </SfAppBar>

    <FmSpacer />

    <main class="main-content__wrapper">
        @Body
    </main>
</div>

<FmSpacer />