@inherits LayoutComponentBase


<SfSidebar @bind-IsOpen="_sidebarToggle"
           Type="SidebarType.Push"
           Position="SidebarPosition.Left"
           EnableGestures="false"
           Width="300px"
           DockSize="80px"
           EnableDock="true">
    <ChildContent>
        <div class="py-4">
            <FmTypography Text="Formee" 
                          Type="@Typography.LevelOne"
                          TextAlign="center"
                          Classes="fm-motto mb-3"/>

            <FmLink Route="/"
                    ActiveClass="fm-link__active"
                    Text="Home"
                    Classes="fm-link d-flex justify-content-center mb-3"
                    Icon="fa-solid fa-home"/>

            <FmLink Route="/dashboard/containers"
                    ActiveClass="fm-link__active"
                    MatchRoute="NavLinkMatch.Prefix"
                    Text="Containers"
                    Classes="fm-link d-flex justify-content-center mb-3"
                    Icon="fa-solid fa-boxes-stacked"/>

            <FmLink Route="/dashboard/sites"
                    ActiveClass="fm-link__active"
                    MatchRoute="NavLinkMatch.Prefix"
                    Text="Sites"
                    Classes="fm-link d-flex justify-content-center mb-3"
                    Icon="fa-solid fa-window-restore"/>

            <FmLink Route="/dashboard/chat"
                    ActiveClass="fm-link__active"
                    Text="Live Chat"
                    Classes="fm-link d-flex justify-content-center mb-3"
                    Icon="fa-solid fa-headset"/>

            <FmLink Route="/identity"
                    ActiveClass="fm-link__active"
                    Text="Identity Management"
                    Classes="fm-link d-flex justify-content-center mb-3"
                    Icon="fa-solid fa-user"/>

            <FmLink Route="/subscription"
                    ActiveClass="fm-link__active"
                    Text="Subscription"
                    Classes="fm-link d-flex justify-content-center mb-3"
                    Icon="fa-solid fa-credit-card"/>
            
            <FmLink Route="/history"
                    ActiveClass="fm-link__active"
                    Text="History"
                    Classes="fm-link d-flex justify-content-center mb-3"
                    Icon="fa-solid fa-clock-rotate-left" />
        </div>
    </ChildContent>
</SfSidebar>

<div class="maincontent">
    <SfAppBar ColorMode="AppBarColor.Light">
        <div class="app-bar__wrapper">
            <div class="d-flex justify-content-center align-items-center">
                <SfButton CssClass="e-inherit" IconCss="e-icons e-menu" OnClick="Toggle"></SfButton>
                <p>@_currentTime</p>
            </div>

            <AppBarSpacer></AppBarSpacer>

            <div class="app-bar-actions">
                <div class="d-flex justify-content-between align-items-center">
                    <div>
                        <SfButton IconCss="fa-solid fa-bell" />
                    </div>

                    <div>
                        <AppBarAccessControl />
                    </div>
                </div>
            </div>
        </div>
    </SfAppBar>

    <FmSpacer />

    <main class="main-content__wrapper">
        @Body
    </main>
</div>

<FmSpacer />