.app-bar-actions {
    width: 25%;
}

::deep .e-appbar {
    overflow: visible;
    padding: 2rem 0;
    /*box-shadow: 0 10px 12px rgba(65, 65, 65, 0.1);*/
    background-color: var(--color-white);
}

::deep .e-dashboardlayout.e-control .e-panel {
    background-color: white;
    border: 1px solid rgba(65, 65, 65, 0.1);
    border-radius: 2rem;
    overflow: hidden;
    box-shadow: var(--box-shadow-lg);
}

::deep .e-dashboardlayout.e-control .e-panel .e-panel-container .e-panel-content {
    padding: 2rem;
}

::deep .e-dashboardlayout.e-control .e-panel .e-panel-container .e-panel-header {
    color: black;
    background-color: #ffffff;
    border: none;
    text-align: left;
    padding: 2rem 2rem 0 2rem;
}

.fm-connection-status {
    display: block;
    width: 1rem;
    height: 1rem;
    border-radius: 100px;
    animation: connection-status-animation 1s ease infinite alternate;
}


@keyframes connection-status-animation {
    from {
        transform: scale(0.8);
    }
    to {
        transform: scale(1);
    }
}