<div class="fm-notfound__wrapper">
    <img src="_content/Clients.Web.Components/images/not-found.svg"
         class="fm-notfound__wrapper-img"
         alt="elements are not found">

    <FmSpacer />

    <FmTypography Text="@Message"
                  Type="@Typography.LevelTwo"
                  Classes="fm-color__dimmed"
                  TextAlign="center" />
</div>

@code {
    [Parameter]
    public string Message { get; set; }
}