<FmPageIntro Heading="Live Chat">
    <Breadcrumbs>
        <BreadcrumbItem IconCss="fa-solid fa-house"
                        Text="Dashboard"
                        Url="/dashboard" />

        <BreadcrumbItem IconCss="fa-solid fa-headset"
                        Disabled="true"
                        Text="Live Chat"
                        Url="@Routes.LiveChat" />
    </Breadcrumbs>
</FmPageIntro>

<FmSpacer />

<FmLoader FetchingState="IsFetching">
    <Content>
        <div>
            <SfTextBox @bind-Value="@LiveChat.CurrentMessage" />

            <FmSpacer />

            <ul>
                @foreach (var message in LiveChat.Messages)
                {
                    <li>@message</li>
                }
            </ul>
            
            <SfButton OnClick="SendMessage">Send</SfButton>
        </div>
    </Content>
</FmLoader>