<section>
    <FmTypography Text="@Heading"
                  Classes="page-heading__large"
                  Type="@Typography.LevelTwo" />
    <FmSpacer />

    <SfBreadcrumb>
        <BreadcrumbItems>
            @Breadcrumbs
        </BreadcrumbItems>
    </SfBreadcrumb>
</section>


@code {

    [Parameter]
    public string Heading { get; set; }

    [Parameter]
    public RenderFragment Breadcrumbs { get; set; }
}
