<div onclick="@(async () => await HandleClickEvent())">
    <SfCard CssClass="@_allClasses">
        @if (FmHeader is not null)
        {
            <CardHeader>
                @FmHeader
            </CardHeader>
        }

        <CardContent>
            @FmBody
        </CardContent>
    </SfCard>

</div>
@code {
    [Parameter]
    public string Classes { get; set; }

    [Parameter]
    public RenderFragment FmHeader { get; set; }

    [Parameter]
    public RenderFragment FmBody { get; set; }

    [Parameter]
    public bool IsHoverable { get; set; }

    [Parameter]
    public EventCallback OnClick { get; set; }

    private string _allClasses;

    protected override void OnInitialized()
    {
        _allClasses = IsHoverable ? $"{Classes} fm-card__interaction-hover" : Classes;
    }

    public async Task HandleClickEvent()
    {
        await OnClick.InvokeAsync();
    }
}
