::deep .e-card {
    border: 0 !important;
    padding: 1rem;
    box-shadow: var(--box-shadow-sm);
    border-radius: 25px;
    min-height: 15vh;
}

    ::deep .e-card > * {
        color: var(--color-text);
    }

    ::deep .e-card .e-card__icon {
        color: #7150eb;
        font-size: 3.5rem;
    }

::deep .e-card-header {
    justify-content: flex-start;
}


::deep .fm-card__interaction-hover {
    transition: all 1s ease;
    cursor: pointer;
}

    ::deep .fm-card__interaction-hover:hover {
        box-shadow: 0 10px 10px rgba(128, 128, 128, 0.1);
        transform: translateY(-30px);
    }

::deep .fm-card__border-dashed {
    border: 5px dashed rgba(128, 128, 128, 0.25) !important;
}
