@inherits LayoutComponentBase

@inject NavigationManager NavigationManager

<main style="padding-inline: 10rem;">
    @Body
</main>

@code {
    private async Task BeginSignOut(MouseEventArgs args)
    {
        NavigationManager.NavigateTo("authentication/logout");
    }
}